@import "tailwindcss";

@theme {
  --white: #ffffff;
  --red-dark: #bf3b44;
  --red-mid: #f3babd;
  --red-light: #f4e6e7;
  --green-dark: #639339;
  --green-mid: #cbe4b4;
  --green-light: #e5f0db;
  --gray-1: #1b1d1e;
  --gray-2: #333638;
  --gray-3: #5c6265;
  --gray-4: #b9bbbc;
  --gray-5: #dddedf;
  --gray-6: #eff0f0;
  --gray-7: #fafafa;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*::selection {
  color: var(--white);
  background-color: var(--gray-1);
}

body {
  background-color: var(--white);
  color: var(--gray-1);
  font-family: "Nunito Sans", sans-serif;
}

body.no-scroll {
  overflow: hidden;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--gray-1);
  background-image: -webkit-linear-gradient(top, var(--gray-1) 0%);
}
